
.monthNumber {
    width: 40px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.yearNumber {
    width: 80px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.button {
	margin: 0
}
