.production {
	background-color: lightblue;
	font-family: Arial, Helvetica, sans-serif;
}

.testing {
	background-color: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding: 10px;
	border-style: solid;
	border-width: 0px 0px 10px 0px; 
	border-color: royalblue;
	padding: 5px;
}

.title {
	font-size: 36px;
	font-style: italic;
	font-weight: bolder;
}

.headerselector {
	float: right;
	padding: 5px;
	font-size: 16px;
}

.langselector {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.actionbar {
	padding: 5px;
	border: 0px 0px 0xp 2px;
}

.actionbutton {
	background-color: lightgray;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
}

.addonbutton {
	background-color: lightblue;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
}

.charbutton {
	margin: 0;
	border: none;
    background-color: lightgray;
    font-size: 15px;
    padding: 2px 10px;
    margin: 0px 2px;
}


.catselector {
	float: right;
	padding: 5px;
	width: 100%;
	font-size: 16px;
	background-color: lightgray;
}


.catselector2 {
	float: left;
	width: 50%;
	font-size: 16px;
	background-color: lightgray;
}

.catselector3 {
	width: 10em;
	font-size: 16px;
	background-color: lightgray;
}

.stringinput {
	font-size: 16px;
	background-color: lightgray;
}

.numberinput {
	font-size: 16px;
	background-color: lightgray;
}

.numbersmallinput {
	font-size: 16px;
	width: 5em;
	background-color: lightgray;
}

.editortitle {
	font-size: 20px;
	border-bottom: 1px solid black;
	margin: 5px;	
}

.dropzone {
	border-style: dashed;
	border-radius: 5px;
	border-width: 2px;
	background-color: white
}

.hoverbox {
	position: fixed;
	margin: 0;
	padding: 2px;
	border: 2px solid #000;
	background: lightyellow
}
