
.acbutton {
    background-color: royalblue; 
    border: 2px solid black;
    color: white;
    height: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px 10px
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.buttonfield {
    text-align: center;
    margin-top: 50px;
}

.maintable {
	width: 100%;
}