
.ksbutton {
    background-color: royalblue; 
    border: 2px solid black;
    color: white;
    height: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px 10px
}

.maintable {
	width: 100%;
}