.assigncontext {
	background-color: lightgray;
	border: thin;
	border-style: solid;
	padding: 5px;
}

.assigncontextitem {
	background-color: lightgray;
	padding: 5px;
}

.delbutton {
	margin: 0;
	border-style: outset;
	background-color: lightgray;
	font-size: 15px;
	padding: 2px 10px;
	margin: 0px 2px;
}

.descinput {
	width: 100%;
	border-style: groove;
	border-width: 3px;
	border-color: darkgray #101010;
	background-color: lightgray;
	box-sizing: border-box;
	margin: 5px 0px 5px 0px;
	font-size: 15px
}

.assignselectbox {
	margin: 10% auto;
	padding: 10px;
	border: 1px solid #888;
	background: darkgray;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #444;
}

.plansize {
	width: 300px;
	height: 500
}
.catsize {
	width: 300px;
	height: 200px;
}
.planexpsize {
	width: 600px;
	height: 500px;
}
.catexpsize {
	width: 600px;
	height: 330px;
}

.recordinfofield {
	padding: 2px;
	border: 1px solid #888;
	background: lightgray;
}

.recordinfolabel {
	padding: 2px;
}

.recordinfoframe {
	padding: 5px;
	width: 100%;
	background: gray;
	border-radius: 10px;
	border-style: inset;
	border-width: 2px;
}