
.assigncontext {
	background-color: lightgray;
	border: thin;
	border-style: solid;
	padding: 5px;
}

.assigncontextitem {
	background-color: lightgray;
	padding: 5px;
}

.delbutton {
	margin: 0;
	border-style: outset;
    background-color: lightgray;
    font-size: 15px;
    padding: 2px 10px;
    margin: 0px 2px;
}

.descinput {
	width: 100%;
	border-style: groove;
	border-width: 3px;
	border-color: darkgray #101010;
	background-color: lightgray;
	box-sizing: border-box;
	margin: 5px 0px 5px 0px;
	font-size: 15px
}

.assigneditorbox {
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	height: 180px;
	background: darkgray;
}

.assigneditorboxbig {
	margin: 15% auto;
	padding: 10px;
	border: 1px solid #888;
	width: 600px;
	height: 180px;
	background: darkgray;
}


