.maninput {
	border: none; 
	-moz-appearance : textfield;
	-webkit-appearance: none;
	margin: 0;
}

.assigncontext {
	background-color: lightgray;
	border: thin;
	border-style: solid;
	padding: 5px;
}

.assigncontextitem {
	background-color: lightgray;
	padding: 5px;
}

.descinput {
	width: 100%;
	border-style: groove;
	border-width: 3px;
	border-color: darkgray #101010;
	background-color: lightgray;
	box-sizing: border-box;
	margin: 5px 0px 5px 0px
}


