.production {
	background-color: lightblue;
	font-family: Arial, Helvetica, sans-serif;
}

.testing {
	background-color: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding: 10px;
	border-style: solid;
	border-width: 0px 0px 10px 0px; 
	border-color: royalblue;
	padding: 5px;
}

.title {
	font-size: 36px;
	font-style: italic;
	font-weight: bolder;
}

.headerselector {
	float: right;
	padding: 5px;
	font-size: 15px;
}

.langselector {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.actionbar {
	
}

.actionbutton {
	
}
